#canvas {
  border: 1px solid black;
}

#stats-canvas {
  border: 1px dashed black;
}

#container {
  display: flex;
}

.instructions {
  padding: 20px;
}

#scoreboard {
  position: absolute;
  z-index: -1;
  width: 521px;
  height: 50px;
  background: orange;
}

#level-up {
 font-size: 100px;
 position: absolute;
 margin-top: 180px;
 margin-left: 30px;
 display: none;
}
