body {
  margin: 0;
  height: 100%;
  color: #2E2E3A;
  background-color: #FFFFFF
}

header {
  background-color: #2E2E3A;
  padding: 20px 0;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 64px;
  margin: 0;
  text-align: center;
  letter-spacing: 12px;
  color: #DE3C4B;
}

#canvas {
  border: 1px solid black;
}

#stats-canvas {
  border: 1px dashed black;
}

#container {
  display: flex;
}

.instructions {
  font-family: 'Open sans' , sans-serif;
  padding: 20px;
  padding-top: 0;
}

h2 {
  margin-top: 10;
}

li {
  margin: 10px 0;
}

#scoreboard {
  position: absolute;
  z-index: -1;
  width: 521px;
  height: 50px;
  background: orange;
}

#level-up,
#life-lost {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 70px;
  position: absolute;
  margin-top: 260px;
  margin-left: 30px;
  display: none;
}

/*#life-lost {
 font-size: 80px;
}*/

#final-score {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  position: absolute;
  width: 480px;
  height: 200px;
  margin-left: 20px;
  margin-top: 260px;
  text-align: center;
  display: none;
}

#game-over {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin: 0;
}

#new-game {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}
